<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>汽车名称
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="name" th:value="${Car.name}" name="name" required="" placeholder="请输入汽车名" lay-verify="name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">汽车类型</label>
                    <div class="layui-input-block">
                        <select name="typeName" lay-verify="required" th:value="${Car.typeName}">
                            <option value=""></option>
                            <option value="1">经凑型</option>
                            <option value="2">经济型</option>
                            <option value="3">商务型</option>
                            <option value="4">豪华型</option>
                            <option value="5">SUV</option>
                            <option value="6">6至15座商务车</option>
                            <option value="7">个性车</option>
                            <option value="8">电动车</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单价</label>
                    <div class="layui-input-block">
                        <input type="text" id="price" th:value="${Car.price}" name="price" required="" lay-verify="price" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">汽车品牌</label>
                    <div class="layui-input-block">
                        <select name="brandName" id="brandName" th:value="${Car.brandName}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" style="width: 100px;">
                        <p id="demoText"></p>
                        <input type="hidden" id="imgUrl" th:value="${Car.imgUrl}" name="imgUrl" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="car-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/component/jquery/jquery.min.js"></script>
<script>
    layui.use(['upload','form','jquery'],function(){
        getClassify();
        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/api/car/upload'
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#imgUrl').attr('value',res.data);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '汽车名至少2个字符';
                }
            },
            price:[/^$|^[0-9]{0,5}$/, '只能是数字且范围0~99999！']
        });
        form.on('submit(car-save)', function(data){
            var datas = data.field;
            $.ajax({
                url:'/api/car/edit',
                data:JSON.stringify(datas),
                dataType:'json',
                contentType:'application/json',
                type:'put',
                success:function(result){
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });
    })

    function getClassify(){
        debugger
        $.ajax({
            url:'/api/car/brand',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#brandName").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }
</script>
<script>
</script>
</body>
</html>