<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<title></title>
	<header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-inline">
					<input type="text" name="name" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="brand-query">
					<i class="layui-icon layui-icon-search"></i>
					查询
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i>
					重置
				</button>
			</div>
		</form>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-body">
		<table id="car-record-table" lay-filter="car-record-table"></table>
	</div>
</div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>

<script type="text/html" id="car-bar">
	{{# if(d.status=="申请中"){ }}
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">处理</button>
	{{# } }}
</script>

<script>
	layui.use(['table','form','jquery'],function () {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;

		let MODULE_PATH = "operate/";

		let cols = [
			[
				{type:'checkbox'},
				{title: "编号", field: "id", align:'center', width:80},
				{title: "用户", field: "userName", align:'center', width:100},
				{title: "汽车名称", field: "carName", align:'center', width:100},
				{title: "开始时间", field: "createTime", align:'center', width:100},
				{title: "结束时间", field: "endTime", align:'center', width:100},
				{title: "租赁时长/天", field: "timeLong", align:'center', width:100},
				{title: "押金", field: "deposit", align:'center', width:100},
				{title: "租金", field: "rent", align:'center', width:100},
				{title: "订单状态", field: "status", align:'center', width:100},
				/*{title: '图片', field: 'carImgUrl', align:'center',templet: function (d) {
						return "<div onclick='showBigImage(this)'><img src=\"/image/" + d.imgUrl + "\"  style=\"width: 40px\" lay-event=\"showPic\" ></div>";}},*/
				{title: '操作', toolbar: '#car-bar', align:'center', templet: function (d) { return d.status}}
			]
		]
		var tableIns = table.render({
			elem: '#car-record-table',
			url: '/api/carRecord/selectAll',
			page: true ,
			cols: cols ,
			skin: 'line',
			toolbar: '#car-toolbar',
			defaultToolbar: [{
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter', 'print', 'exports']
		});
		table.on('tool(car-record-table)', function(obj){
			if(obj.event === 'edit'){
				window.edit(obj);
			}
		});
		form.on('submit(brand-query)', function(data){
			var formData = data.field;
			var name = formData.name;
			tableIns.reload({
				page: {
					curr: 1 //重新从第 1 页开始
				}
				, where: {//这里传参  向后台
					queryName: name,
					//可传多个参数到后台...  ，分隔
				}
				, url: '/api/carRecord/selectByName/'+name//后台做模糊搜索接口路径
				, method: 'get'
			});
			return false;
		});

		form.on('switch(role-status)', function(obj){
			layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
		});

		window.edit = function(obj){
			var data = obj.data;
			layer.open({
				type: 2,
				title: '修改',
				shade: 0.1,
				area: ['500px', '600px'],
				content: '/api/carRecord/toUpdate/'+data.id
			});
			/*var data = obj.data;
			layer.confirm('确定要同意还车吗？', {icon: 3, title:'提示'}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url: '/api/carRecord/updateStatusById',
					dataType: 'json',
					type: 'get',
					data: {"status": "已完成", "id": data.id},
					success: function (result) {
						layer.close(loading);
						window.parent.location.reload();
					}
				})
			})*/
		}
		window.refresh = function(){
			table.reload('car-record-table');
		}

	})

</script>
</body>
</html>
