<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>配置款
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="level"  name="level" required="" placeholder="请输入配置款" lay-verify="level" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>汽车年款
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="productYear"  name="productYear" required="" placeholder="请输入汽车年款" lay-verify="productYear" autocomplete="off" class="layui-input">
                    </div>

                    <label class="layui-form-label">
                        <span style="color: red">*</span>车牌
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="number"  name="number" required="" placeholder="请输入车牌号" lay-verify="number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>颜色
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="color"  name="color" required="" placeholder="请输入汽车颜色" lay-verify="color" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">
                        <span style="color: red">*</span>排量
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="displacement"  name="displacement" required="" placeholder="请输入汽车排量" lay-verify="displacement" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>座位数</label>
                    <div class="layui-input-block">
                        <input type="radio" name="seats" value="两座" title="两座" checked="">
                        <input type="radio" name="seats" value="四座" title="四座">
                        <input type="radio" name="seats" value="五座" title="五座">
                        <input type="radio" name="seats" value="六座" title="六座">
                        <input type="radio" name="seats" value="七座" title="七座">
                        <input type="radio" name="seats" value="七座以上" title="七座以上">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>门数</label>
                    <div class="layui-input-block">
                        <input type="radio" name="doors" value="双门" title="双门" checked="">
                        <input type="radio" name="doors" value="三门" title="三门">
                        <input type="radio" name="doors" value="四门" title="四门">
                        <input type="radio" name="doors" value="五门" title="五门">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>燃料类型</label>
                    <div class="layui-input-inline">
                        <select name="energyId" id="energyId" >
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <label class="layui-form-label"><span style="color: red">*</span>变速箱类型</label>
                    <div class="layui-input-inline">
                        <select name="gearId" id="gearId">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>驱动方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="drive" value="前驱" title="前驱" checked="">
                        <input type="radio" name="drive" value="后驱" title="后驱">
                        <input type="radio" name="drive" value="四驱" title="四驱">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>是否有天窗</label>
                    <div class="layui-input-block">
                        <input type="radio" name="upwindow" value="有" title="有" checked="">
                        <input type="radio" name="upwindow" value="无" title="无">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>是否有雷达</label>
                    <div class="layui-input-block">
                        <input type="radio" name="radar" value="有" title="有" checked="">
                        <input type="radio" name="radar" value="无" title="无">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>是否有GPS</label>
                    <div class="layui-input-block">
                        <input type="radio" name="gps" value="有" title="有" checked="">
                        <input type="radio" name="gps" value="无" title="无">
                    </div>
                </div>

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" style="width: 100px;">
                        <p id="demoText"></p>
                        <input type="type" id="carId" th:value="${CarId}" name="carId" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="car-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/component/jquery/jquery.min.js"></script>
<script>
    layui.use(['upload','form','jquery'],function(){
        getCarType();
        getCarBrand();
        getProvince();
       /* getCity();
        getLocation();*/
        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/api/car/upload'
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#imgUrl').attr('value',res.data);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '汽车名至少2个字符';
                }
            },
            price:[/^$|^[0-9]{0,5}$/, '只能是数字且范围0~99999！']
        });
        form.on('submit(car-save)', function(data){
            var datas = data.field;
            $.ajax({
                url:'/api/car/add',
                data:JSON.stringify(datas),
                dataType:'json',
                contentType:'application/json',
                type:'post',
                success:function(result){
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });
        form.on('select(provinceId)',function(data){
            debugger
            var provinceId = data.value;
            $.ajax({
                url:'/api/car/city/'+provinceId,
                success:function(res){
                    if(res.success){
                        for(var i =0;i<res.data.length;i++){
                            $("#cityId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                        }
                        //重新渲染
                        layui.form.render("select");
                    }else{
                        layer.msg(res.message);
                    }
                }
            })
        });
        form.on('select(cityId)',function(data){
            debugger
            var cityId = data.value;
            $.ajax({
                url:'/api/car/location/'+cityId,
                success:function(res){
                    if(res.success){
                        for(var i =0;i<res.data.length;i++){
                            $("#locationId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                        }
                        //重新渲染
                        layui.form.render("select");
                    }else{
                        layer.msg(res.message);
                    }
                }
            })
        });
    })
    function getCarType(){
        $.ajax({
            url:'/api/car/type',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#typeId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }
    function getCarBrand(){
        $.ajax({
            url:'/api/car/brand',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#brandId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }
    function getProvince(){
        debugger
        $.ajax({
            url:'/api/car/province',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#provinceId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }

</script>
<script>
</script>
</body>
</html>