<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>配置款
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="level"  name="level" th:value="${CarDetail.level}" required="" placeholder="请输入配置款" lay-verify="level" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>汽车年款
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="productYear"  name="productYear" th:value="${CarDetail.productYear}" required="" placeholder="请输入汽车年款" lay-verify="productYear" autocomplete="off" class="layui-input">
                    </div>

                    <label class="layui-form-label">
                        <span style="color: red">*</span>车牌
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="number"  name="number" th:value="${CarDetail.number}" required="" placeholder="请输入车牌号" lay-verify="number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>颜色
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="color"  name="color" th:value="${CarDetail.color}" required="" placeholder="请输入汽车颜色" lay-verify="color" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">
                        <span style="color: red">*</span>排量
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="displacement"  name="displacement" th:value="${CarDetail.displacement}" required="" placeholder="请输入汽车排量" lay-verify="displacement" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>座位数</label>
                    <div class="layui-input-block">
                        <input type="radio" name="seats" value="两座" title="两座" >
                        <input type="radio" name="seats" value="四座" title="四座">
                        <input type="radio" name="seats" value="五座" title="五座">
                        <input type="radio" name="seats" value="六座" title="六座">
                        <input type="radio" name="seats" value="七座" title="七座">
                        <input type="radio" name="seats" value="七座以上" title="七座以上">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>门数</label>
                    <div class="layui-input-block">
                        <input type="radio" name="doors" value="双门" title="双门" >
                        <input type="radio" name="doors" value="三门" title="三门">
                        <input type="radio" name="doors" value="四门" title="四门">
                        <input type="radio" name="doors" value="五门" title="五门">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>燃料类型</label>
                    <div class="layui-input-inline">
                        <select name="energyId" id="energyId" >
                            <option  th:value="${CarDetail.energy.id}" th:text="${CarDetail.energy.name}">请选择</option>
                        </select>
                    </div>
                    <label class="layui-form-label"><span style="color: red">*</span>变速箱类型</label>
                    <div class="layui-input-inline">
                        <select name="gearId" id="gearId">
                            <option th:value="${CarDetail.gear.id}" th:text="${CarDetail.gear.name}">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>驱动方式</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="drive" value="前驱" title="前驱" >
                        <input type="radio" name="drive" value="后驱" title="后驱">
                        <input type="radio" name="drive" value="四驱" title="四驱">
                    </div>
                    <label class="layui-form-label"><span style="color: red">*</span>是否有天窗</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="upWindow" value="有" title="有" >
                        <input type="radio" name="upWindow" value="无" title="无">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>是否有雷达</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="radar" value="有" title="有" >
                        <input type="radio" name="radar" value="无" title="无">
                    </div>
                    <label class="layui-form-label"><span style="color: red">*</span>是否有GPS</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="gps" value="有" title="有" >
                        <input type="radio" name="gps" value="无" title="无">
                    </div>
                </div>

                <div>
                   <input type="hidden" id="carId" th:value="${CarId}" name="carId" >
                   <input type="hidden" id="id" th:value="${CarDetail.id}" name="id" >
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">多图片上传</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2"></div>
                    </blockquote>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="testList">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="demoList"></tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="car-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/component/jquery/jquery.min.js"></script>
<script>
    layui.use(['upload','form','jquery'],function(){
        getEnergy();
        getGear();
        //getOn();
        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        var carId = $("#carId").val();
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: '/api/document/upload' //改成您自己的上传接口
            ,data:{
                carDetailId:function () {
                    return $('#id').val();
                }
            }
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="50%">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });
        var demoListView = $('#demoList'),
            uploadListIns = upload.render({
            elem: '#testList'
            //, url: window.location.host+'/api/uploadfile'
            , url: '/api/document/upload'
            , accept: 'file'
            , multiple: true
            , auto: false
            ,data:{
                carId:function () {
                    return $('#carId').val();
                }
            }
            , bindAction: '#testListAction'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            , done: function (res, index, upload) {
                //alert(res);
                //console.log(res);

                if (res.msg == "success") { //上传成功
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = demoListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
        $.ajax({
            url:'/api/carDetail/selectByCarId/'+carId,
            dataType:'json',
            type:'get',
            success:function(result){
                for(var i =0;i<result.data.length;i++){
                    if(result.data[i]==null){
                        $("input[name='seats'][value='两座']").attr("checked", true);
                        $("input[name='doors'][value='双门']").attr("checked", true);
                        $("input[name='drive'][value='前驱']").attr("checked", true);
                        $("input[name='upWindow'][value='有']").attr("checked", true);
                        $("input[name='radar'][value='有']").attr("checked", true);
                        $("input[name='gps'][value='有']").attr("checked", true);

                    }else{
                        $("input[name='seats'][value='" + result.data[i].seats + "']").attr("checked", true);
                        $("input[name='doors'][value='" +  result.data[i].doors + "']").attr("checked", true);
                        $("input[name='drive'][value='" +  result.data[i].drive + "']").attr("checked", true);
                        $("input[name='upWindow'][value='" + result.data[i].upWindow + "']").attr("checked", true);
                        $("input[name='radar'][value='" +  result.data[i].radar + "']").attr("checked", true);
                        $("input[name='gps'][value='" + result.data[i].gps + "']").attr("checked", true);
                    }

                }
                form.render();
            }
        })
        //普通文件上传
        var uploadInst =upload.render({
            elem: '#test3'
            ,url: '/api/document/upload'
            ,accept: 'file' //普通文件
            ,method: 'POST'
            ,done: function(res){
                layui.use('layer', function(){
                    layer.msg('上传成功');
                    console.log(res);
                });
            }
            ,error: function(){
                //请求异常回调
            }
        });

        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '汽车名至少2个字符';
                }
            },
            price:[/^$|^[0-9]{0,5}$/, '只能是数字且范围0~99999！']
        });
        form.on('submit(car-save)', function(data){
            var datas = data.field;
            $.ajax({
                url:'/api/carDetail/add',
                data:JSON.stringify(datas),
                dataType:'json',
                contentType:'application/json',
                type:'post',
                success:function(result){
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });
    })
    function getEnergy(){
        $.ajax({
            url:'/api/carDetail/energy',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#energyId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }
    function getGear(){
        $.ajax({
            url:'/api/carDetail/gear',
            success:function(res){
                if(res.success){
                    for(var i =0;i<res.data.length;i++){
                        $("#gearId").append("<option value=\""+res.data[i].id+"\">"+res.data[i].name+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }else{
                    layer.msg(res.message);
                }
            }
        });
    }
    function getOn(){
        $.ajax({
            url:'/api/carDetail/selectByCarId/'+$("#carId").val(),
            dataType:'json',
            type:'get',
            success:function(result){
                $("input[name='seats'][value='" + result.data.seats + "']").next().click();
                $("input[name='doors'][value='" +  result.data.doors + "']").next().click();
                $("input[name='drive'][value='" +  result.data.drive + "']").next().click();
                $("input[name='upWindow'][value='" + result.data.upWindow + "']").next().click();
                $("input[name='radar'][value='" +  result.data.radar + "']").next().click();
                $("input[name='gps'][value='" + result.data.gps + "']").next().click();
                form.render();
            }
        })
    }
</script>
<script>
</script>
</body>
</html>