<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/component/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />

    <script th:src="@{/component/layui/layui.js}"></script>
</head>
<body style="min-height: 1000px;">
<form class="layui-form" action="" id="orderData" style="display: block;">
    <div class="mainBox">
        <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>真实姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name"  name="name" th:value="${CarRecord.name}"  required="" placeholder="请输入真实姓名" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>身份证号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="identity"  name="identity"  th:value="${CarRecord.identity}" required="" placeholder="请输入身份证号" lay-verify="identity" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>手机号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone"  name="phone" th:value="${CarRecord.phone}"  required="" placeholder="请输入手机号" autocomplete="off" lay-verify="phone" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>开始日期
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="start" name="startTime" th:value="${{CarRecord.startTime}}" class="layui-input" lay-verify="required" placeholder="yyyy-MM-dd" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>结束日期
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="end" name="endTime" th:value="${{CarRecord.endTime}}" class="layui-input" lay-verify="required"  placeholder="yyyy-MM-dd" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"> 押金</label>
                    <div class="layui-input-inline">
                        <input type="text" id="deposit" th:value="${car.deposit}" name="deposit" class="layui-input" lay-verify="required"   readonly="true">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">租金/天</label>
                    <div class="layui-input-inline">
                        <input type="text" id="price" th:value="${car.price}" name="price"  class="layui-input" lay-verify="required"   readonly="true">
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">上传</button>（<span style="color: red">*</span>请上传身份证和驾驶证照片）
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2"></div>
                    </blockquote>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" id="carId" th:value="${car.id}" name="carId" >
                    <input type="hidden" id="customerId" th:value="${user.userId}"  name="customerId" >
                    <input type="hidden" id="id" th:value="${CarRecord.id}"  name="id" >
                </div>
            <div class="bottom">
                <div class="button-container">
                    价格：<input type="text" id="result" style="width: 80px" readonly="true">
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="car-save">
                        <i class="layui-icon layui-icon-ok"></i>
                        去支付
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
<form class="layui-form" style="display: none;" id="orderPay" action="/pay" method="post">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label"> 订单号</label>
                <div class="layui-input-inline">
                    <input type="text" id="order_number"  name="order_number" class="layui-input" lay-verify="required"  readonly="true">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"> 订单名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="order_name"  name="order_name" class="layui-input" lay-verify="required"  readonly="true">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"> 付款金额</label>
                <div class="layui-input-inline">
                    <input type="text" id="payment_amount"  name="payment_amount" th:value="${CarRecord.rent}" class="layui-input" lay-verify="required"  readonly="true">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" >
                <i class="layui-icon layui-icon-ok"></i>
                下单
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/component/jquery/jquery.min.js"></script>
<script>
    layui.use(['upload','form','laydate','jquery'],function(){

        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        var carId = $("#carId").val();
        var laydate = layui.laydate;

        var myDate = new Date();  //获取当前时间
        laydate.render({

            elem:'#start',//制定元素

            type:'date',

            //range:true,//开启左右面板

            min:myDate.toLocaleString(), //转化当前时间格式

            //max:'2017-10-1',//规定时间期限

            trigger:'click',//定义鼠标悬停时弹出控件

            show:false,//默认显示

            position:'absolute',

            //btns:['clear','now'],//工具按钮 默认值['clear', 'now', 'confirm']

            theme:'#393D49',//主题颜色

            calendar:true,//是否显示公历节日

           /* mark:{

                '2017-9-21': '发布'//自定义标注重要日子

            },*/

            done:function(value,date){//value, date, endDate点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象

                console.log(value);

                console.log(date);

                var end = $("#end").val();

                if(end!=""){
                    sum(value,end);
                }
            }

        });

        laydate.render({

            elem:'#end',//制定元素

            type:'date',

            //range:true,//开启左右面板

            min:$("#start").val().toLocaleString(), //转化当前时间格式

            //max:'2017-10-1',//规定时间期限

            trigger:'click',//定义鼠标悬停时弹出控件

            show:false,//默认显示

            position:'absolute',

            //btns:['clear','now'],//工具按钮 默认值['clear', 'now', 'confirm']

            theme:'#393D49',//主题颜色

            calendar:true,//是否显示公历节日

            /* mark:{

                 '2017-9-21': '发布'//自定义标注重要日子

             },*/

            done:function(value,date){//value, date, endDate点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象

                console.log(value);

                console.log(date);
                let start = $("#start").val();
                if(start!=""){
                    sum(start,value);
                }

            }

        });
        form.verify({
            required: [/[\S]+/, "必填项不能为空"],
            phone: [/^1\d{10}$/, "请输入正确的手机号"],
            email: [/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/, "邮箱格式不正确"],
            url: [/(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/, "链接格式不正确"],
            number: function(e) {
            if (!e || isNaN(e)) return "只能填写数字"
            },
            date: [/^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1]))*$/, "日期格式不正确"],
            identity: [/(^\d{15}$)|(^\d{17}(x|X|\d)$)/, "请输入正确的身份证号"]
        });
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: '/api/document/upload' //改成您自己的上传接口
            ,data:{
                carDetailId:function () {
                    return $('#id').val();
                }
            }
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="50%">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });

        form.on('submit(car-save)', function(data){
            var datas = data.field;
            var url,type;
            if(datas.id==null){
                url = '/api/carRecord/add';
                type = 'post';
            }else{
                url = '/api/carRecord/edit';
                type = 'put';
            }
            $.ajax({
                url:url,
                data:JSON.stringify(datas),
                dataType:'json',
                contentType:'application/json',
                type:type,
                success:function(result){
                    if(result.success){
                        /*layer.msg(result.msg,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();
                        });*/
                        debugger
                        $("#orderData").hide();
                        $("#orderPay").show();
                        $("#orderPay").html('<div class="mainBox">' +
                            '        <div class="main-container">' +
                            '            <div class="layui-form-item">' +
                            '                <label class="layui-form-label"> 订单号</label>' +
                            '                <div class="layui-input-inline">' +
                            '                    <input type="text" id="order_number"  name="order_number" class="layui-input" lay-verify="required" value="'+ result.data[0].id +'" readonly="true">' +
                            '                </div>' +
                            '            </div>' +
                            '            <div class="layui-form-item">' +
                            '                <label class="layui-form-label"> 订单名称</label>' +
                            '                <div class="layui-input-inline">' +
                            '                    <input type="text" id="order_name"  name="order_name" class="layui-input" lay-verify="required" value="'+ result.data[0].carName +'" readonly="true">' +
                            '                </div>' +
                            '            </div>' +
                            '            <div class="layui-form-item">' +
                            '                <label class="layui-form-label"> 付款金额</label>' +
                            '                <div class="layui-input-inline">' +
                            '                    <input type="text" id="payment_amount"  name="payment_amount" class="layui-input" lay-verify="required" value="'+ result.data[0].rent +'" readonly="true">' +
                            '                </div>' +
                            '            </div>' +
                            '        </div>' +
                            '    </div>' +
                            '    <div class="bottom">' +
                            '        <div class="button-container">' +
                            '            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" >' +
                            '                <i class="layui-icon layui-icon-ok"></i>' +
                            '                下单' +
                            '            </button>' +
                            '            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">' +
                            '                <i class="layui-icon layui-icon-refresh"></i>' +
                            '                重置' +
                            '            </button>' +
                            '        </div>' +
                            '    </div>')

                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });
    })
    function sum(start,end) {
        var start = start;
        var end = end;
        var deposit = $("#deposit").val();
        var price = $("#price").val();

        var days = DateDiff(start, end);

        function DateDiff(start, end){
            start = new Date(start);
            end = new Date(end);
            if(end > start){
                days = parseInt(Math.abs(end - start) / 1000 / 60 / 60 / 24);
            }else{
                days = '0';
            }
            return days;
        }
        var num = parseInt(days)*parseInt(price)+parseInt(deposit);
        $('#result').attr('value',num);
    }
</script>
</body>
</html>