<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Real Estate Builders Free Responsive Website Templates - icon">
	<meta name="author" content="webThemez.com">
	<title>Free html5 responsive web template</title>
	<base href="/">
	<link rel="favicon" href="assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="component/layui/css/layui.css">

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
	<script src="component/layui/layui.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/custom.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		*, :after, :before {
			box-sizing: border-box
		}
		div.box {
			height: 100px;
			padding: 10px;
			overflow: auto;
			border: 1px solid #8080FF;
			background-color: #E5E5FF
		}
		body {
			color: #73879C !important;;
			background: #ECF0F1!important;
			font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif!important;
			font-size: 13px!important;
			font-weight: 400!important;
			line-height: 1.471!important;
		}
	</style>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			<a class="navbar-brand" href="index.html">
				<img src="assets/images/logo.png" alt="Techro HTML5 template"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right mainNav">
				<li><a href="index.html">首页</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li class="active"><a href="price.html">Price</a></li>
				<li><a href="projects.html">车型展示</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="sidebar-right.html">Right Sidebar</a></li>
						<li><a href="#">Dummy Link1</a></li>
						<li><a href="#">Dummy Link2</a></li>
						<li><a href="#">Dummy Link3</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1>汽车详情</h1>
			</div>
		</div>
	</div>
</header>

<!-- container
<div class="container">
	<div class="row">
		 Article content
		<section class="col-sm-12 maincontent">
			<h3>Cost</h3>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>

		</section>
	</div>
</div>
 /container -->

<section class="container">
	<div class="heading">
		<!-- Heading -->
		<h3>Range</h3>
		<p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
		<br />
	</div>
	<div class="row flat">
		<div class="layui-col-md12">
			<div class="layui-col-md7">
				<div class="layui-col-md12">
					<div class="layui-carousel" id="test10">
						<div carousel-item="" id="demoList1">

						</div>
					</div>
				</div>
				<div class="layui-col-md12">

					<button class="layui-btn" id="addCar" >预约车辆</button>
				</div>
			</div>
			<div class="layui-col-md5">
				<div class="layui-col-md12">
					<h2>基本信息</h2>
					<br/>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>品牌 </h3>
							<br/>
							<p th:text="${car.carBrand.name}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>类型 </h3>
							<br/>
							<p th:text="${car.carType.name}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>门店 </h3>
							<br/>
							<p th:text="${car.location.name}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>价格 </h3>
							<br/>
							<p th:text="${car.price}"></p>
							<br/>
						</div>
					</div>
				</div>

				<hr>
				<div class="layui-col-md12">
					<h2>详细信息</h2>
					<br/>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>年代款</h3>
							<br/>
							<p th:text="${detail.productYear}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>配置款</h3>
							<br/>
							<p th:text="${detail.level}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>座位数</h3>
							<br/>
							<p th:text="${detail.seats}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>车门数</h3>
							<br/>
							<p th:text="${detail.doors}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>燃料类型</h3>
							<br/>
							<p th:text="${detail.energy.name}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>变速箱类型</h3>
							<br/>
							<p th:text="${detail.gear.name}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>排量</h3>
							<br/>
							<p th:text="${detail.displacement}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>驱动方式</h3>
							<br/>
							<p th:text="${detail.drive}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md6">
							<h3>天窗</h3>
							<br/>
							<p th:text="${detail.upWindow}"></p>
							<br/>
						</div>
						<div class="layui-col-md6">
							<h3>雷达</h3>
							<br/>
							<p th:text="${detail.radar}"></p>
							<br/>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-col-md12">
							<h3>相关证件</h3>
							<br/>
							<table class="layui-table" lay-even="" lay-skin="nob">
								<thead>
								<tr>
									<th></th>
								</tr>
								</thead>
								<tbody id="demoList"></tbody>
							</table>
						</div>
					</div>
					<div>
						<input type="hidden" id="carId" th:value="${car.id}" name="carId" >
						<input type="hidden" id="detailId" th:value="${detail.id}" name="detailId" >
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<footer id="footer">
	<div class="footer2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 panel">
					<div class="panel-body">
						<p class="simplenav">
							<a href="index.html">Home</a> |
							<a href="about.html">About</a> |
							<a href="services.html">Services</a> |
							<a href="price.html">Price</a> |
							<a href="projects.html">Projects</a> |
							<a href="contact.html">Contact</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 panel">
					<div class="panel-body">
						<p class="text-right">
							Copyright &copy; 2015. Template by <a href="http://webthemez.com/" rel="develop">WebThemez.com</a>
						</p>
					</div>
				</div>

			</div>
			<!-- /row of panels -->
		</div>
	</div>
</footer>




<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script>
	layui.use(['carousel','upload','laydate','form','jquery'],function(){
		let form = layui.form;
		let $ = layui.jquery;
		let carousel = layui.carousel;
		let upload = layui.upload;
		var carId = $("#carId").val();
		var carDetailId = $("#detailId").val();

		//图片轮播
		var ins = carousel.render({
			elem: '#test10'
			,width: '600px'
			,height: '400px'
			,interval: 5000
			,full: false //全屏
			,arrow: 'none'
		});
		$.ajax({
			url:'/api/car/document/picture/'+carDetailId,
			dataType:'json',
			type:'get',
			success:function(result){
				var str;
				for(var i =0;i<result.data.length;i++){
					str ='<div><img src="/image/'+result.data[i].saveName+'" ></div>'
					jQuery("#demoList1").append(str)
					ins.reload({elem: '#test10'});//重置轮播图
				}
			}
		})
		$.ajax({
			url:'/api/car/document/'+carId,
			dataType:'json',
			type:'get',
			success:function(result){
				var str;
				for(var i =0;i<result.data.length;i++){
					str ='<tr><td><a href="#" onclick="downLoad('+result.data[i].id+')">'+result.data[i].name+'</a></td></tr>'
					jQuery("#demoList").append(str)
				}
				form.render();
			}
		})
		$('#addCar').on("click",function(){
			layer.open({
				//调整弹框的大小
				area:['500px','600px'],
				shadeClose:true,//点击旁边地方自动关闭
				//动画
				anim:2,
				//弹出层的基本类型
				type: 2,
				//刚才定义的弹窗页面
				content: '/api/carRecord/toAdd/'+carId, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']

			});
		});

	})
	function downLoad(id){
		if(id=="undifind"){
			return false;
		}else{
			var link = document.createElement('a');
			link.href = "/api/document/down?id=" + id;
			link.click();
		}

	}

</script>
</body>
</html>
