<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>个人资料</title>
    <link rel="stylesheet" th:href="@{/component/layui/css/layui.css}" />


    <script type="text/javascript" src="component/jquery/jquery.min.js"></script>
    <script src="component/layui/layui.js"></script>

    <script type="text/javascript">

        layui.use('upload',function(){

            var upload = layui.upload;

            upload.render({

                elem: '#fileBtn',
                url: '/admin//updatePersonalById.do',
                accept: 'file',
                auto: false,
                bindAction: '#uploadBtn',
                done: function(res){

                    alert(res.data.src);

                    $("[name=a_headportrait]").val(res.data.src);

                }

            });

        });

    </script>
</head>

<body>

<form class="layui-form" action="/api/admin/car/add" method="post" charset="utf-8" target="_parent" enctype="multipart/form-data">
    <div class="layui-upload">
        <label class="layui-form-label">头像:</label>
        <div class="layui-upload layui-input-block">
            <input type="submit"/>
            <button type="button" class="layui-btn layui-btn-primary" id="fileBtn" name="uploadFile"><i class="layui-icon">&#xe67c;</i>选择文件</button>
            <button type="button" class="layui-btn layui-btn-warm" id="uploadBtn">开始上传</button>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 20px;">

        <div class="layui-input-block">

            <button class="layui-btn" id="btn1" lay-submit lay-filter="formDemo">提交</button>

            <button type="reset" class="layui-btn layui-btn-primary">重置</button>

        </div>
    </div>
</form>

</body>

</html>